@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html
{
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  font-size: 14px;
  /*color: #4d4e53;*/
  color: rgba(100, 100, 100, .68);
  background-color: #111;
}

a {
  /*color: #0095dd;*/
  /*color:rgb(37, 138, 175);*/
  color: #678;
  transition: 1s;
}
a:hover {
  /*color: #0095dd;*/
  /*color:rgb(37, 138, 175);*/
  color: #8ac;
  transition: 100ms;
}
table.summary span[data-ice=signature]{
  margin-right: 10px;
  z-index: 2;
  position: absolute;
  right: 53px;
  margin-top: -9px;
}

table.summary span[data-ice=name] span a{
  position: absolute;
  width: calc(100% - 480px);
  text-indent: 10px;
  margin-left: -12px;
  line-height: 1.8em;
  margin-top: -10px;
}

table.summary span[data-ice=name] span a:hover{
  text-indent: 135px;
}

.import-path{
  margin-bottom: 9px;
}
.detail span[data-ice=source] span a:hover{
  background-color:rgba(40,40,50,0.2);
}

.detail span[data-ice=source] span a{
  position: absolute;
  width: calc(100vw - 368px);
  left: calc(-100vw + 364px);
  text-align: right;
  xborder: 1px solid red;
  height: 1.6em;
  border-radius: 2px;
  margin-top: -3px;
  padding-right: 7px;
  padding-top: 4px;
}

.detail span[data-ice=name]{
  color: #888;
  text-shadow: 2px 2px 2px #000;
}
.detail span[data-ice=signature]{
  color: #555;
  text-shadow: 2px 2px 2px #000;
  xfloat:right;
  xmargin-left:1em;
}
table.summary span.access,
table.summary [data-ice=kind],
table.summary [data-ice=static],
table.summary [data-ice=override],
div[data-ice=details] .kind,
div[data-ice=constructorDetails] .kind,
div[data-ice=methodDetails] .kind,
div[data-ice=staticMemberDetails] .kind,
div[data-ice=staticMethodDetails] .kind,
div[data-ice=memberDetails] .kind,

div[data-ice=details] [data-ice=static],
div[data-ice=constructorDetails] [data-ice=static],
div[data-ice=methodDetails] [data-ice=static],
div[data-ice=staticMemberDetails] [data-ice=static],
div[data-ice=staticMethodDetails] [data-ice=static],
div[data-ice=memberDetails] [data-ice=static],

div[data-ice=details] .access,
div[data-ice=constructorDetails] .access,
div[data-ice=methodDetails] .access,
div[data-ice=staticMemberDetails] .access,
div[data-ice=staticMethodDetails] .access,
div[data-ice=memberDetails] .access{
  border: 1px solid rgba(0,0,0,0.5);
  padding-left: 4px;
  padding-right: 4px;
  color: #555;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.3);
}
/*
div[data-ice=details] .detail:nth-of-type(even) h3,
div[data-ice=methodDetails] .detail:nth-of-type(even) h3,
div[data-ice=memberDetails] .detail:nth-of-type(even) h3,
div[data-ice=constructorDetails] .detail:nth-of-type(even) h3,
div[data-ice=staticMethodDetails] .detail:nth-of-type(even) h3,
div[data-ice=staticMemberDetails] .detail:nth-of-type(even) h3
*/
.content>[data-ice]>.detail:nth-of-type(even) h3
{
  background-color: rgba(0,0,0,0.5);
  border:1px solid rgba(0,0,0,0.3);
}
/*
div[data-ice=details] .detail:nth-of-type(odd) h3,
div[data-ice=methodDetails] .detail:nth-of-type(odd) h3,
div[data-ice=memberDetails] .detail:nth-of-type(odd) h3,
div[data-ice=constructorDetails] .detail:nth-of-type(odd) h3,
div[data-ice=staticMethodDetails] .detail:nth-of-type(odd) h3,
div[data-ice=staticMemberDetails] .detail:nth-of-type(odd) h3
*/
.content>[data-ice]>.detail:nth-of-type(odd) h3
{
  background-color: rgba(0,0,0,0.2);
  border:1px solid rgba(0,0,0,0.3);
}

div[data-ice=staticMemberDetails] .detail:nth-of-type(1){
  xborder:1px solid red;
}

/*
div[data-ice=details] .detail,
div[data-ice=methodDetails] .detail,
div[data-ice=memberDetails] .detail,
div[data-ice=staticMemberDetails] .detail,
div[data-ice=staticMethodDetails] .detail,
div[data-ice=constructorDetails] .detail
*/
.content>[data-ice]>.detail
{
  border: 1px solid #111;
  border-radius: 6px;
  padding: 6px;
  box-shadow: 2px 2px 9px 3px rgba(0,0,0,0.8), inset 0px 0px 24px 6px rgba(0,0,0,0.4);
}
/*
div[data-ice=details] .detail h3::before,
div[data-ice=methodDetails] .detail h3::before,
div[data-ice=memberDetails] .detail h3::before,
div[data-ice=staticMemberDetails] .detail h3::before,
div[data-ice=staticMethodDetails] .detail h3::before,
div[data-ice=constructorDetails] .detail h3::before
*/
.content>[data-ice]>.detail>h3[data-ice]:before
{
    content: attr(data-row);
    margin-right: 5px;
    font-size: 80%;
    background-color: rgba(0,0,0,0.5);
    color: #aaa;
    padding: 3px 8px;
    border-radius: 3px;
}

.break-after:after {
  content:"\000A";
  white-space: pre;
}

[data-ice=indirectSubclass]>div,
[data-ice=directSubclass]>div{
  display:flex;
  flex-wrap:wrap;
}

[data-ice=indirectSubclass]>div>div,
[data-ice=directSubclass]>div>div{
  flex-basis: auto;
  /* flex-grow: 1; */
  white-space: nowrap;
  margin: 2px 2px;
  background-color: rgba(0,0,0,0.5);
  padding: 3px 0;
  border-radius: 3px;
  xflex: 19%;
  flex-shrink: 0;
  min-width: calc(24% - 4px);
}
[data-ice=indirectSubclass]>div>div a,
[data-ice=directSubclass]>div>div a{
  display: inline-flex;
  width: calc(100% - 51px);
}



[data-ice=indirectSubclass]>h4:before,
[data-ice=directSubclass]>h4:before{
  content: attr(ct);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgba(0,0,0,0.5);
  color: #aaa;
  padding: 3px 8px;
  border-radius: 3px;
}

table.summary>thead>tr>td[data-ice=title]:before{
  content: attr(data-rows);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgba(0,0,0,0.5);
  color: #aaa;
  padding: 3px 8px;
  border-radius: 3px;
}


.pageTitleExt{
  height: 2em !important;
  width: 2em !important;
  margin-left: 12px;
  margin-top: -5px;
  cursor:pointer;
}

.pageTitle{
  font-weight: bold;
  margin-left: 56px;
  position: absolute;
  font-size: 2em;
  text-shadow: 2px 2px 2px #000;
  cursor:pointer;
}

code a:hover {
  text-decoration: underline;
}
table.summary {
    counter-reset: tableRow -1;
}
table.summary tbody tr:not(:hover) td{
  transition: 1s;
}
table.summary tbody tr:hover td{
  background-color: rgba(0,0,0,0.5);
  transition: 100ms;
}
table.summary tr:nth-child(even){
  background-color: rgba(0,0,0,0.2);
}
table.summary tr{
    counter-increment: tableRow;
}
table.summary tbody td:nth-child(1)::before {
    content: attr(data-row);
    margin-right: 5px;
    font-size: 80%;
    background-color: rgba(0,0,0,0.5);
    color: #aaa;
    padding: 3px 8px;
    border-radius: 3px;
}

ul, ol {
  padding-left: 20px;
}

ul li {
  list-style: disc;
  margin: 4px 0;
}

ol li {
  margin: 4px 0;
}

.content>[data-ice]>h2:before{
  content: attr(data-content);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgba(0,0,0,0.5);
  color: #aaa;
  padding: 3px 8px;
  border-radius: 3px;
}

[data-ice=details]>h2,
[data-ice=constructorDetails]>h2,
[data-ice=methodDetails]>h2,
[data-ice=memberDetails]>h2,
[data-ice=staticMemberDetails]>h2,
[data-ice=staticMethodDetails]>h2,
[data-ice=constructorSummary]>h2,
[data-ice=inheritedSummary]>h2,
[data-ice=methodSummary]>h2,
[data-ice=memberSummary]>h2,
[data-ice=staticMemberSummary]>h2{
  margin-top:5px;
  margin-bottom: 0px;
}


[data-ice=details],
[data-ice=constructorDetails],
[data-ice=methodDetails],
[data-ice=memberDetails],
[data-ice=staticMemberDetails],
[data-ice=staticMethodDetails],
[data-ice=constructorSummary],
[data-ice=memberSummary],
[data-ice=methodSummary],
[data-ice=inheritedSummary],
[data-ice=staticMemberSummary]{
  margin-top:4px;
  border: 1px solid #111;
  border-radius: 6px;
  padding: 6px;
  box-shadow: 2px 2px 9px 3px rgba(0,0,0,0.8), inset 0px 0px 24px 6px rgba(0,0,0,0.4);
  xbox-shadow:inset 0px 0px 24px 6px rgba(0,0,0,0.4);

}

.expression-extends>h4{
  text-shadow: 1px 1px #000;
  border: 1px inset rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.3);
  margin: 3px;
  border-radius: 2px;
  padding-left: 5px;
}
.expression-extends{
  border: 1px solid #111;
  border-radius: 6px;
  padding: 6px;
  box-shadow: 2px 2px 9px 3px rgba(0,0,0,0.8), inset 0px 0px 24px 6px rgba(0,0,0,0.4);
}

h1 {
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: bold;
  color: #2a2a2a;
  text-shadow: 2px 2px #000;
  border: 1px solid #111;
  border-radius: 6px;
  padding: 6px;
  xbox-shadow: 2px 2px 9px 3px rgba(0,0,0,0.8), inset 0px 0px 24px 6px rgba(0,0,0,0.4);
  box-shadow:inset 0px 0px 24px 6px rgba(0,0,0,0.4);
}

h2 {
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #2a2a2a;
  text-shadow: 2px 2px #000;
  border: 1px solid #111;
  border-radius: 6px;
  padding: 6px;
  xbox-shadow: 2px 2px 9px 3px rgba(0,0,0,0.8), inset 0px 0px 24px 6px rgba(0,0,0,0.4);
  box-shadow:inset 0px 0px 24px 6px rgba(0,0,0,0.4);

}

h3 {
  position: relative;
  font-size: 16px;
  margin-bottom: 12px;
  background-color: #222;
  padding: 4px;
  font-weight: 300;
}

del {
  text-decoration: line-through;
}

p {
  margin-bottom: 15px;
  line-height: 1.5;
}

p > code {
  background-color: #090909;
  color:#555566;
  border-radius: 3px;
}

pre > code {
  display: block;
}

pre.prettyprint, pre > code {
  padding: 4px;
  margin: 1em 0;
  background-color: rgba(0,0,0,0);
  border-radius: 3px;
}

pre.prettyprint > code {
  margin: 0;
}

p > code,
li > code {
  padding: 0 4px;
  border-radius: 3px;
}


.import-path pre.prettyprint{
  border: 1px solid #111;
  border-radius: 6px;
  padding: 6px;
  box-shadow: 2px 2px 9px 3px rgba(0,0,0,0.8), inset 0px 0px 24px 6px rgba(0,0,0,0.4);
}

.import-path pre.prettyprint,
.import-path pre.prettyprint code {
  margin: 0;
  padding: 0;
  border: none;
  background: rgba(0,0,0,0);
  xbox-shadow: 0px 0px 3px 2px #334;
}

.import-path pre.prettyprint code {
  padding: 3px;
  text-align: right;
}

.layout-container {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: flex-start;*/
  /*align-items: stretch;*/
}

.layout-container > header {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0 10px;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: linear-gradient(to bottom,#000,#111);
  top: 0;
  border-bottom: solid 1px #444;
  box-shadow: 0 10px 10px #000;
  z-index:10;
}
.layout-container > header > a{
  margin: 0 5px;
}

.layout-container > header > a.repo-url-github {
  font-size: 0;
  display: inline-block;
  width: 20px;
  height: 38px;
  background: url("../image/github.png") no-repeat center;
  background-size: 20px;
  vertical-align: top;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 250px;
  height: calc(100% - 3.7em);
  padding-top: 0px;
  padding-left: 15px;
  padding-bottom: 2em;
  margin-top: 3.7em;
  overflow-x: scroll;
  /* box-shadow: rgba(255, 255, 255, 1) -1px 0 0 inset; */
  border-right: 2px solid rgba(30, 30, 30, 0.8);
}

.navigation ul {
  padding: 0;
}

.navigation li {
  list-style: none;
  margin: 4px 0;
  white-space: nowrap;
}

.navigation .nav-dir-path:before {
  content:attr(ct);
  margin-right:4px;
  margin-left:-4px;
  font-size:0.7em;
  font-weight:normal;
  width:1.5em;
  text-align:right;
  height:1.5em;
  display:inline-block;
  margin-top:-4px;
  line-height:2em;
  border: 1px solid rgba(0,0,0,0.5);
  padding-left: 4px;
  padding-right: 4px;
  color: #555;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.3);

}
.navigation .nav-dir-path {
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  color: #aaa;
  text-shadow: 1px 1px #000;
  border: 1px inset rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.3);
  border-radius: 2px;
  padding-left: 5px;
  font-weight: bold;
  /* margin-right: 10px; */
  display: block;
  /* width: 100%; */
}

.kind{
  cursor:pointer;
  z-index:10;
}
td span .kind{
  display: table-cell;
  margin-left: 0.75em;
  width: 1.2em;
}

.kind-class,
.kind-interface,
.kind-function,
.kind-typedef,
.kind-variable,
.kind-external {
  margin-left: 0.75em;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  text-align: center;
  border-radius: 0.2em;
  margin-right: 0.2em;
  font-weight: bold;
}
header .kind-class{
  display: inline-block;
  text-align: center;
  line-height: 1em;
  font-size: 1.3em;
  padding: 0px;
  position: absolute;
  padding-top: 8px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 3px;
}

.kind-class {
  color: #009800;
  background-color: #bfe5bf;
}

.kind-interface {
  color: #fbca04;
  background-color: #fef2c0;
}

.kind-function {
  color: #6b0090;
  background-color: #d6bdde;
}

.kind-variable {
  color: #eb6420;
  background-color: #fad8c7;
}

.kind-typedef {
  color: #db001e;
  background-color: #edbec3;
}

.kind-external {
  color: #0738c3;
  background-color: #bbcbea;
}

h1 .version,
h1 .url a {
  font-size: 14px;
  color: #aaa;
}

.content {
  margin-top: 40px;
  margin-left: 250px;
  padding: 10px 50px 10px 20px;
}

.header-notice {
  font-size: 14px;
  color: #aaa;
  margin: 0;
}

.header-notice [data-ice=access],
.header-notice [data-ice=kind]{
  border: 1px solid rgba(0,0,0,0.5);
  padding-left: 4px;
  padding-right: 4px;
  color: #555;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.3);
}

.expression-extends .prettyprint {
  margin-left: 10px;
  background: rgba(0,0,0,0);
  border: 1px solid #111;
  border-radius: 6px;
  padding: 6px;
  xbox-shadow: 2px 2px 9px 3px rgba(0,0,0,0.8), inset 0px 0px 24px 6px rgba(0,0,0,0.4);
  box-shadow: inset 0px 0px 24px 6px rgba(0,0,0,0.4);
}

.extends-chain {
  border-bottom: 1px solid#ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.extends-chain span:nth-of-type(1) {
  padding-left: 10px;
}

.extends-chain > div {
  margin: 5px 0;
}

.description table {
  font-size: 14px;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

.description thead {
  background: #999;
  color: white;
}

.description table td,
.description table th {
  border: solid 1px #ddd;
  padding: 4px;
  font-weight: normal;
}

.flat-list{
  border: 1px solid #111;
  border-radius: 6px;
  padding: 6px;
  box-shadow: 2px 2px 9px 3px rgba(0,0,0,0.8), inset 0px 0px 24px 6px rgba(0,0,0,0.4);
}

.flat-list ul {
  padding-left: 0;
}

.flat-list li {
  display: inline;
  list-style: none;
}
.flat-list>h4{
  text-shadow: 1px 1px #000;
  border: 1px inset rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.3);
  margin: 3px;
  border-radius: 2px;
  padding-left: 5px;
}


table.summary {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
  box-shadow: 2px 2px 9px 3px rgba(0,0,0,0.8);
}

table.summary thead {
  background: linear-gradient(to right,#112,#000);
  color: #99a;
  text-shadow: 1px 1px #000;
}

table.summary td {
  border: solid 1px rgba(0,0,0,0.3);
  padding: 4px 10px;
}

table.summary tbody td:nth-child(1) {
  white-space: nowrap;
  min-width: 64px;
}

table.summary tbody td:nth-child(2) {
  width: 100%;
  border-right: none;
}

table.summary tbody td:nth-child(3) {
  white-space: nowrap;
  border-left: none;
  vertical-align: top;
}

table.summary td > div:nth-of-type(2) {
  padding-top: 4px;
  padding-left: 15px;
}

table.summary td p {
  margin-bottom: 0;
}

.inherited-summary thead td {
  padding-left: 2px;
}

.inherited-summary thead a {
  color: white;
}

.inherited-summary .summary tbody {
  display: none;
}

.inherited-summary .summary .toggle {
  padding: 0 4px;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  width: calc(100% - 320px);
  margin-left: -20px;
}
.inherited-summary .summary .toggle.closed:before {
  content: "▶";
}
.inherited-summary .summary .toggle.opened:before {
  content: "▼";
}

.member, .method {
  margin-bottom: 24px;
}

.return-params h4,
.detail [data-ice=properties] h4[data-ice=title]{
  text-shadow: 1px 1px #000;
  border: 1px inset rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.3);
  margin: 3px;
  border-radius: 2px;
  padding-left: 5px;
}

table.params {
  width: calc(100% - 18px);
  margin: 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
  margin-top: -1px;
}

table.params thead {
  background: rgba(0,0,0,0.5);
  color: #222;
  font-weight: bold;
  text-shadow: 2px 2px #000;
}

table.params tbody tr:nth-child(even){
  background-color: rgba(0,0,0,0.3);
}
table.params tbody tr:nth-child(odd){
  background-color: rgba(0,0,0,0.0);
}

table.params td {
  padding: 4px;
  border: solid 1px rgba(0,0,0,0.3);
}

table.params td p {
  margin: 0;
}

.content .detail > * {
  x-margin: 15px 0;
  margin: 0;
}

.content .detail > h3 {
  color: #888;
  margin: 0;
}

.content .detail > div {
  margin-left: 0px;
}

.detail h3 + .import-path{
  margin-top:0px !important;
}

.content .detail > .import-path {
  margin-top: -8px;
}

.content .detail + .detail {
  x-margin-top: 30px;
}

.content .detail .throw td:first-child {
  padding-right: 10px;
}

.content .detail h4 + :not(pre) {
  padding-left: 0;
  margin-left: 10px;
}

.content .detail h4 + ul li {
  list-style: none;
}

.return-param * {
  display: inline;
}

.argument-params {
  margin-bottom: 20px;
}

.return-type {
  padding-right: 10px;
  font-weight: normal;
}

.return-desc {
  margin-left: 10px;
  margin-top: 4px;
}

.return-desc p {
  margin: 0;
}

.deprecated, .experimental, .instance-docs {
  border-left: solid 5px orange;
  padding-left: 4px;
  margin: 4px 0;
}

tr.listen p,
tr.throw p,
tr.emit p{
  margin-bottom: 10px;
}

.version, .since {
  color: #aaa;
}

h3 .right-info {
  position: absolute;
  right: 4px;
  font-size: 14px;
}

.version + .since:before {
  content: '| ';
}

.see {
  margin-top: 10px;
}

.see h4 {
  margin: 4px 0;
}

.content .detail h4 + .example-doc {
  margin: 6px 0;
}

.example-caption {
  position: relative;
  bottom: -1px;
  display: inline-block;
  padding: 4px;
  font-style: italic;
  background-color: #f5f5f5;
  font-weight: bold;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.example-caption + pre.source-code {
  margin-top: 0;
  border-top-left-radius: 0;
}

footer, .file-footer {
  text-align: right;
  font-style: italic;
  font-weight: 100;
  font-size: 13px;
  margin-right: 50px;
  margin-left: 270px;
  border-top: 1px solid #000;
  padding-top: 30px;
  margin-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 100vh;
}

pre.source-code {
  padding: 4px;
}

pre.raw-source-code > code {
  padding: 0;
  margin: 0;
}

pre.source-code.line-number {
  padding: 0;
}

pre.source-code ol {
  background: #000;
  padding-left: 40px;
}

pre.source-code li:hover{
  background: #111;
  transition: 100ms;

}
pre.source-code li {
  background: #000;
  padding-left: 4px;
  list-style: decimal;
  margin: 0;
  transition: 1s;
}

pre.source-code.line-number li.active {
  background: rgb(15, 15, 15);
}

pre.source-code.line-number li.error-line {
  background: #100;
}

table.files-summary {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
  text-align: right;
}
table.files-summary td.coverage{
  padding-right:1em;
}
table.files-summary thead td{
  padding:4px 10px;
}

table.files-summary tbody tr:not(:hover) {
  background: rgba(0,0,0,0.0);
  transition: 1s;
}

table.files-summary tbody tr:hover {
  background: rgba(0,0,0,0.3);
  transition: 100ms;
}

table.files-summary tbody [data-ice=identifier] span a:hover,
table.files-summary tbody [data-ice=filePath] span a:hover{
  background-color:rgba(40,40,50,0.5);
  transition: 100ms;
}
table.files-summary tbody td.identifiers[data-ice=identifier] > span,
table.files-summary tbody [data-ice=identifier] span:not(.sourceIdentMenu):not(.kind),
table.files-summary tbody [data-ice=filePath] span:not(.sourceFileMenu){
  display: table;
  width: 100%;
}

table.files-summary tbody [data-ice=identifier] span a,
table.files-summary tbody [data-ice=filePath] span a{
  display: table-cell;
  transition: 1s;
  padding-left: 0.3em;
}

table.files-summary td:first-child,
table.files-summary td:nth-of-type(2) {
  text-align: left;
}

table.files-summary[data-use-coverage="false"] td.coverage {
  display: none;
}

table.files-summary thead {
  background: rgba(0,0,0,0.5);
  color: #222;
  font-weight: bold;
  text-shadow: 2px 2px #000;
}

table.files-summary td {
  border: 1px solid rgba(0,0,0,0.5);
  xpadding: 4px 10px;
  vertical-align: top;
}

table.files-summary td.identifiers > span {
  display: block;
  margin-top: 4px;
}
table.files-summary td.identifiers > span:first-child {
  margin-top: 0;
}

table.files-summary .coverage-count {
  font-size: 12px;
  color: #aaa;
  display: inline-block;
  min-width: 40px;
}

.total-coverage-count {
  position: relative;
  bottom: 2px;
  font-size: 12px;
  color: #666;
  font-weight: 500;
  padding-left: 5px;
}

table.test-summary thead {
  background: #999;
  color: white;
}

table.test-summary thead .test-description {
  width: 50%;
}

table.test-summary {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

table.test-summary thead .test-count {
  width: 3em;
}

table.test-summary tbody tr:hover {
  background-color: #eee;
}

table.test-summary td {
  border: solid 1px #ddd;
  padding: 4px 10px;
  vertical-align: top;
}

table.test-summary td p {
  margin: 0;
}

table.test-summary tr.test-describe .toggle {
  display: inline-block;
  float: left;
  margin-right: 4px;
  cursor: pointer;
}

table.test-summary tr.test-describe .toggle.opened:before {
  content: '▼';
}

table.test-summary tr.test-describe .toggle.closed:before {
  content: '▶';
}

table.test-summary .test-target > span {
  display: block;
  margin-top: 4px;
}
table.test-summary .test-target > span:first-child {
  margin-top: 0;
}

.inner-link-active {
  box-shadow:inset 0px 0px 7px 1px rgba(0,100,0,0.7);
}

/* search box */
.search-box {
  position: absolute;
  top: 10px;
  right: 50px;
  padding-right: 8px;
  padding-bottom: 10px;
  line-height: normal;
  font-size: 12px;
  width:800px;
}

.search-box img {
  width: 20px;
  vertical-align: top;
}

.search-input {
  display: inline;
  visibility: hidden;
  width: 0;
  padding: 2px;
  height: 1.5em;
  outline: none;
  background: transparent;
  border: 1px #0af;
  border-style: none none solid none;
  vertical-align: bottom;
  color: #889;
}

.search-input-edge {
  display: none;
  width: 1px;
  height: 5px;
  background-color: #0af;
  vertical-align: bottom;
}

.search-result {
  position: absolute;
  display: none;
  height: 600px;
  width: 100%;
  padding: 0;
  margin-top: 5px;
  /* margin-left: 24px; */
  background: rgba(0,0,0,0.5);
  box-shadow: 1px 1px 4px rgb(0,0,0);
  white-space: nowrap;
  overflow-y: scroll;
}

.search-result-import-path {
  color: #888;
  font-size: 12px;
  float: right;
}

.search-result li {
  list-style: none;
  padding: 2px 4px;
}

.search-result li a {
  display: block;
}

.search-result li:not(.selected) {
  background: rgba(100, 100, 150,0.0);
  transition: 1s;
}

.search-result li.selected {
  background: rgba(100, 100, 150,0.3);
  transition: 100ms;
}

.search-result li.search-separator {
  background: rgba(100, 100, 100,0.5);
  color: white;
}

.search-box.active .search-input {
  visibility: visible;
  transition: width 0.2s ease-out;
  width: 300px;
}

.search-box.active .search-input-edge {
  display: inline-block;
}

/* coverage badge */
.esdoc-coverage {
  display: inline-block;
  height: 20px;
  vertical-align: top;
}

h1 .esdoc-coverage {
  position: relative;
  top: -4px;
}

.esdoc-coverage-wrap {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.esdoc-coverage-label {
  padding: 3px 4px 3px 6px;
  background: linear-gradient(to bottom, #5e5e5e 0%,#4c4c4c 100%);
  border-radius: 4px 0 0 4px;
  display: inline-block;
  height: 20px;
  box-sizing: border-box;
  line-height: 14px;
}

.esdoc-coverage-ratio {
  padding: 3px 6px 3px 4px;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  height: 20px;
  box-sizing: border-box;
  line-height: 14px;
}

.esdoc-coverage-low {
  background: linear-gradient(to bottom, #db654f 0%,#c9533d 100%);
}

.esdoc-coverage-middle {
  background: linear-gradient(to bottom, #dab226 0%,#c9a179 100%);
}

.esdoc-coverage-high {
  background: linear-gradient(to bottom, #4fc921 0%,#3eb810 100%);
}

.github-markdown .manual-toc {
  padding-left: 0;
}

/** manual */

.manual-root .navigation {
  padding-left: 0;
}

.navigation .manual-toc-title {
  margin: 0;
  padding: 0.5em 0 0.5em 1em;
  border: none;
  font-size: 1em;
  font-weight: normal;
}

.navigation .manual-toc-title:first-child {
  margin-top: 0;
}

.navigation .manual-toc {
  display: none;
  margin-left: 0.5em;
  margin-top: -0.25em;
}

.github-markdown .manual-toc-title a {
  color: inherit;
}

.manual-breadcrumb-list {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.manual-toc-title a:hover {
  color: #039BE5;
}

.manual-toc li {
  margin: 0.75em 0;
  list-style-type: none;
}

.manual-toc .indent-h1 {
  margin-left: 0;
}
.manual-toc .indent-h2 {
  margin-left: 1em;
}
.manual-toc .indent-h3 {
  margin-left: 3em;
}
.manual-toc .indent-h4 {
  margin-left: 4em;
}
.manual-toc .indent-h5 {
  margin-left: 5em;
}

.manual-nav li {
  margin: 0.75em 0;
}

.manual-dot {
  margin-left: 0.75em;
  width: 0.6em;
  height: 0.6em;
  display: inline-block;
  border-radius: 0.3em;
  margin-right: 0.3em;
  background-color: #bfe5bf;
}

/* github markdown */
.github-markdown {
  font-size: 16px;
}

.github-markdown h1,
.github-markdown h2,
.github-markdown h3,
.github-markdown h4,
.github-markdown h5 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  padding: 10px;
}

.github-markdown h1:nth-of-type(1) {
  margin-top: 0;
}

.github-markdown h1 {
  font-size: 2em;
  padding-bottom: 0.3em;
}

.github-markdown h2 {
  font-size: 1.75em;
  padding-bottom: 0.3em;
}

.github-markdown h3 {
  font-size: 1.5em;
  background-color: transparent;
}

.github-markdown h4 {
  font-size: 1.25em;
}

.github-markdown h5 {
  font-size: 1em;
}

.github-markdown ul, .github-markdown ol {
  padding-left: 2em;
}

.github-markdown pre > code {
  font-size: 0.85em;
  border: 1px solid #111;
  border-radius: 6px;
  padding: 6px;
  box-shadow: inset 0px 0px 24px 6px rgba(0,0,0,0.4);
}

.github-markdown table {
  margin-bottom: 1em;
  border-collapse: collapse;
  border-spacing: 0;
}

.github-markdown table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.github-markdown table th,
.github-markdown table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.github-markdown table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/** badge(.svg) does not have border */
.github-markdown img:not([src*=".svg"]) {
  max-width: 100%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

/*http://support.google.com/chrome/?hl=en*/
::-webkit-scrollbar              { background-color:#222; }
::-webkit-scrollbar-track:vertical { background-color:#0a0a0a;background:linear-gradient(to bottom,#0a0a0a,#000,#0a0a0a); }

::-webkit-scrollbar-track-piece  { background-color:#000; }

::-webkit-scrollbar-track-piece:vertical { background-color:#0a0a0a;background:linear-gradient(to bottom,#0a0a0a,#000,#0a0a0a); }
::-webkit-scrollbar-track-piece:vertical:hover { background-color:#112;background:linear-gradient(to bottom,#112,#000,#112); }
::-webkit-scrollbar-track-piece:horizontal { background-color:#0a0a0a;background:linear-gradient(to right,#0a0a0a,#000,#0a0a0a); }
::-webkit-scrollbar-track-piece:horizontal:hover { background-color:#112;background:linear-gradient(to right,#112,#000,#112); }

::-webkit-scrollbar-button:vertical,
::-webkit-scrollbar-thumb:vertical        { background-color:#111;background:linear-gradient(to right,#000,#111,#000);}
::-webkit-scrollbar-button:vertical:hover,
::-webkit-scrollbar-thumb:vertical:hover  { background-color:#334;background:linear-gradient(to right,#222,#334,#222);}

::-webkit-scrollbar-button:horizontal,
::-webkit-scrollbar-thumb:horizontal      { background-color:#111;background:linear-gradient(to bottom,#000,#111,#000)}
::-webkit-scrollbar-button:horizontal:hover,
::-webkit-scrollbar-thumb:horizontal:hover{ background-color:#334;background:linear-gradient(to bottom,#222,#334,#222)}

::-webkit-scrollbar-corner       { background-color:#000; }
::-webkit-resizer                { background-color:#000; }



